.env
src/.env
*/.env
venv/
*/venv/
src/terraform/.terraform/
src/terraform/.terraform.lock.hcl
src/terraform/terraform.tfstate
src/terraform/terraform.tfstate.backup
encrypted_files.db
src/encrypted_files.db
*/encrypted_files.db
terraform.tfvars
*/terraform.tfvars
src/terraform/terraform.tfvars
src/__pycache__/
src/pytest_cache/
.DS_Store
